.App {
  font-family: sans-serif;
  text-align: center;
}

.container{

}

.react-pdf__Page__canvas{
  margin: auto;
}
/* For all pages */
.all-page-container {
  height: 100%;
  max-height: 500px;
  overflow: auto;
}
